<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DATA passing</title>
</head>
<body>
    <% if(locals.numLetters) { %>
        <h1>Your name has <%= locals.numLetters %> letters! </h1>
    <% } else { %>
        <h1>Type your name below 👇</h1>
    <% } %>
    <form action="/submit" method="POST">
        <input type="text" name="fName" placeholder="First Name">
        <input type="text" name="lName" placeholder="Last Name">
        <input type="submit" value="OK">
    </form>
</body>
</html>